@import '../../shared/constants/colors.scss';
@import '../../shared/constants/otherStyles.scss';

  .fc { /* the calendar root */
    max-height: 100vh;
    margin: 0 auto;

    padding: 20px;
    background-color: $background-content;
    border: 2px solid $border-color;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px $box-shadow;
    border-radius: 5px;
  }
