.btn-minus {
  margin: 0 0 0 16px;
  min-width: 20px;
  height: 20px;
  border-radius: 25px;
  padding: 0;
}

.wrapper-input-time {
  margin: 0 25px 0 25px;
}

.wrapper-time {
  margin: 15px 0 0 0;
}

input[type='time'] {
  margin: 0 6px 0 6px;
  padding: 0 2px 0 6px;
  width: 100px;
  border: solid 1px black;
}
