.wrapper-popup-English {
  width: 500px;
  height: 420px;
}

.wrapper-select,
.wrapper-review,
.wrapper-btn {
  display: flex;
  justify-content: center;
  margin: 25px 0 0 0;
}

textarea {
  background-color: #f0f0f0;
  border: 1px solid #888;
}

.mat-form-field {
  width: 427px;
}
