# Линии, начинающиеся с '#' — это комментарии.
# Каждая линия — это шаблон файлов, сопровождаемый одним
# или несколькими участниками.

# Следующие участники будут выбраны ревьюерами по-умолчанию
# для всех файлов репозитория.

*     @vstrabko @PaulRomanov @julia-shevchenko3 @Nicolai-boiko @mhasilau @Dmitruk89 @vstrabko  @rastorc3v
