.textarea_container {
    width: 500px;
}

.textarea {
  max-height: 150px;
}

.card-popup_container {
  display: flex;
  padding: 20px 10px;
  justify-content: space-between;
  max-width: 1200px;
  margin-bottom: 0 !important;
}

*:not(.radio-buttons > *) {
  margin-bottom: 10px;
}

.section {
    padding: 0 10px;
    margin-bottom: 0 !important;
}

.candidate-name,
.candidate-status {
    width: 245px;
    height: 60px;
}

.candidate-skills,
.raiting {
    width: 500px;
    & > * {
        width: 245px;
    }
}

.user-name {
    width: 300px;
}


.two-column {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0 !important;
}

.buttons {
    justify-content: flex-end;
    & > * {
        width: 100px;
        margin: 0 0 0 15px;
    }
}

.radio-buttons {
    width: 498px;
    & > * {
        width: calc(498px / 3);
    }
}

@media screen and (max-width: 1100px) {
    .card-popup_container {
        flex-wrap: wrap;
    }
  }