@import '../../shared/constants/colors.scss';
@import '../../shared/constants/otherStyles.scss';

.drop-box_container,
.description_container,
.sandbox-interviews_container {
  width: 100%;
  background: $background-content;
  &:not(:first-child) {
    margin-top: 12px;
  }
}

.drop-box,
.description,
.sandbox-interviews {
  padding: 15px 10px;
  border: 1px solid $border-color;
  border-radius: 5px;
}

.drop-box {
  width: 100%;
}
