<div class="page_container">
  <div class="page_wrapper">
    <div class="drop-box_container">
      <h2>{{ 'sandbox.name' | translate }}</h2>
      <mat-form-field class="drop-box" appearance="outline">
        <mat-label>{{ 'sandbox.sandboxName' | translate }}</mat-label>
        <mat-select #sandboxSelect (selectionChange)="inputChange(sandboxSelect.value)" >
          <mat-option *ngFor="let sandbox of sandboxes" [value]="sandbox.name">
            {{ sandbox.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div class="description_container">
        <mat-card class="description">{{sandboxChosen.description}}</mat-card>
      </div>
    </div>

    <div [style.display]="sandboxSelect.value ? 'block' : 'none'" class="sandbox-interviews-container">
      <div class="sandbox-interviews">
        <app-candidate-request [sandboxChosen]="sandboxChosen"></app-candidate-request>
      </div>
    </div>
  </div>
</div>