@import '../../shared/constants/colors.scss';

.wrapper-btn {
  display: flex;
  justify-content: center;
  margin: 25px 0 0 0;
}

.myBlock {
  background-color: rosybrown;
  height: 200px;
}

.wrapper-time {
  width: 250px;
}
