<header class="header">
  <div class="img"><img src="../../../assets/img/sapex.png" alt=""></div>
  <nav class="user-buttons">
    <a mat-raised-button  id="candidatesList" *ngIf="userName">Candidates list</a>
    <a mat-raised-button  id="calendar" *ngIf="userName">Calendar</a>
    <a mat-raised-button  id="createNewSandbox" *ngIf="userName">New sandbox</a>
  </nav>
  <div class="username" *ngIf="userName" class="userName">Hello, {{ userName }}</div>
  <div class="button-login">
    <button mat-raised-button (click)="openModal()" *ngIf="!userName" > Log in</button>
  </div>
  <div class="button-logout" *ngIf="userName" (click)="logOut()" >
    <button mat-raised-button >Log out</button>
  </div>
</header>
<app-login-form *ngIf="isVisible" (modal)="closeModal()" ></app-login-form>
