@import '../../shared/constants/colors.scss';

.header {

  height: 60px;
  background-color: $backColor;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 0 0 10px;
  align-items: center;

  .img {
    margin-top: auto;

    img {
      height: 50px;
    }
  }

  .user-buttons {
    a {
      background-color: $darkColor;
      color: $noColor;
      height: 50%;
      margin: 5px;
    }

    .active {
      background-color: $blueColor;
    }
  }
  .userName {
  font-size: 18px;
  color: $darkColor;
  }
  .button-login, .button-logout {
    button {
      background-color: $blueColor;
      color: $noColor;
      height: 50%;
      border-radius: 20px 0 0 20px;
    }
  }
}
