.textarea_container {
    width: 500px;
}

.textarea {
  max-height: 150px;
}

.card-popup_container {
  display: flex;
  padding: 20px 10px;
  justify-content: space-between;
  max-width: 1200px;
  margin-bottom: 0 !important;
}

.mat-form-field {
    margin-top: 16px;
}