<app-modal-window [title]="'candidateList.appointInterview' | translate">
  <div class="card-popup_container">
    <div class="section">
      <p class="selected-candidate">Appoint interview for {{selectedCandidate.name + ' ' + selectedCandidate.surname}}</p>
      <mat-stepper #stepper>
        <mat-step [stepControl]="firstFormGroup" errorMessage="{{'stepper.dateIsRequired' | translate}}">
          <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>{{ 'stepper.сhooseTheDate' | translate}}</ng-template>
            <mat-form-field appearance="fill" class="example-form-field">
              <mat-label>{{ 'stepper.сhooseTheDate' | translate}}</mat-label>
              <input matInput (dateInput)="addEvent($event)" [matDatepicker]="datepicker" formControlName="firstCtrl" required>
              <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
              <mat-datepicker #datepicker>
                <mat-datepicker-actions>
                  <button mat-button matDatepickerCancel class="btn unfilled-btn">{{'cancel' | translate}}</button>
                  <button mat-raised-button color="primary" matDatepickerApply (click)="getFreeTimes()" class="btn filled-btn">{{'apply' | translate}}</button>
                </mat-datepicker-actions>
              </mat-datepicker>
            </mat-form-field>
          </form>
          <p *ngIf="noFreeInterviewers">there are no free interviewers on that date</p>
        </mat-step>
        <mat-step [stepControl]="secondFormGroup" errorMessage="{{'stepper.interviewerIsRequired' | translate}}">
          <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel>{{'stepper.chooseInterviewer' | translate}}</ng-template>
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>{{'stepper.selectedDate' | translate}}</mat-label>
              <input matInput disabled value="{{localDateString}}">
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>{{'stepper.chooseInterviewer' | translate}}</mat-label>
              <mat-select [(value)]="selectedInterviewer" formControlName="secondCtrl"
              required>
                <mat-option *ngFor="let interviewer of interviewers" [value]="interviewer.name">
                  {{interviewer.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </form>
        </mat-step>
        <mat-step [stepControl]="thirdFormGroup" errorMessage="{{'stepper.timeIsRequired' | translate}}">
          <form [formGroup]="thirdFormGroup">
            <ng-template matStepLabel>{{'stepper.chooseTime' | translate}}</ng-template>
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>{{'stepper.selectedDate' | translate}}</mat-label>
              <input matInput disabled value="{{localDateString}}">
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>{{'stepper.interviewer' | translate}}</mat-label>
              <input matInput disabled value="{{selectedInterviewer}}">
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>{{'stepper.chooseTime' | translate}}</mat-label>
              <mat-select [(value)]="selectedTime" formControlName="thirdCtrl"
              required>
                <mat-option *ngFor="let interval of intervals" [value]="interval">
                  {{interval.start | date:'shortTime'}} - {{interval.end | date:'shortTime'}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </form>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>{{'stepper.end' | translate}}</ng-template>
          <mat-card class="details_card">
            <mat-card-title>{{'stepper.interviewDetails' | translate}}</mat-card-title>
            <div class="details_content">
              <p><strong>{{'stepper.date' | translate}}</strong>: {{localDateString}}</p>
              <p><strong>{{'stepper.interviewer' | translate}}</strong>: {{selectedInterviewer}}</p>
              <p *ngIf="selectedTime"><strong>{{'stepper.time' | translate}}</strong>: {{selectedTime.start | date:'shortTime'}} - {{selectedTime.end | date:'shortTime'}}</p>
            </div>
            <mat-card-actions>
              <div class="stepper-btn_container">
                <button mat-button (click)="stepper.reset()" class="btn unfilled-btn">{{'reset' | translate}}</button>
                <button (click)="postInterview()" class="btn filled-btn">{{'candidateList.appointInterview' | translate}}</button>
              </div>
            </mat-card-actions>
          </mat-card>
        </mat-step>
      </mat-stepper>
      <div class="close-btn_container">
        <button class="btn unfilled-btn" (click)="cancel()">{{'close' | translate}}</button>
      </div>
    </div>
  </div>
</app-modal-window>
