$backColor: #e5ebf0;
$noColor: #fff;
$darkColor: #445063;
$blueColor: #3794c7;
$errorColor: #f44336;
$background-container_dark: #29374d;
$background-container_light: #eef2f7;
$background-content: #f9f9f9;
$border-color: rgba(0, 130, 202, 1);
$box-shadow: rgba(0, 0, 0, 0.25);
$background-modal: rgba(0, 0, 0, 0.3);
$shadow-color: #4b45485e;
$textarea-color: #f0f0f0;
$textarea-border-color: #888;
$inputBg: rgba(0, 0, 0, 0.04);
$inputText: rgba(0, 0, 0, 0.6);
$disabledButtonBackground: #cccccc;
$disabledButtonColor: #666666;
$disabledButtonBorderColor: #999999;
