$backColor: #E5EBF0;
$noColor: #fff;
$darkColor: #445063;
$blueColor: #3794C7;
$background-content:rgba(37, 51, 73, 0.85);
$border-color: rgba(68, 80, 99, 0.26);
$box-shadow: rgba(0, 0, 0, 0.25);
$shadow-color: #4b45485e;
$textarea-color:#f0f0f0;
$textarea-border-color:#888;