<div class="page_container">
  <mat-tab-group class="page_wrapper" dynamicHeight>
    <mat-tab label="Create Sandbox">
      <div>
        <form class="sandbox_wrapper" [formGroup]="sandboxRegistrationForm" (ngSubmit)="submit()">
          <h2>{{ 'sandbox.createSandbox' | translate }}</h2>
          <div class="sandbox_container">
            <mat-form-field appearance="outline">
              <mat-label>{{ 'sandbox.sandboxName' | translate }}</mat-label>
              <input formControlName="name" matInput>
            </mat-form-field>

            <mat-form-field appearance="outline" class="datepicker">
              <mat-label>{{ 'sandbox.period' | translate }}</mat-label>
              <mat-date-range-input [rangePicker]="picker" required>
                <input matStartDate formControlName="startDate" placeholder="Start date" required>
                <input matEndDate formControlName="endDate" placeholder="End date" required>
              </mat-date-range-input>
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-date-range-picker #picker></mat-date-range-picker>

              <mat-error *ngIf="sandboxRegistrationForm.controls.startDate.hasError('matStartDateInvalid')">
                {{ 'sandbox.invalidStartDate' | translate }}
              </mat-error>
              <mat-error *ngIf="sandboxRegistrationForm.controls.endDate.hasError('matEndDateInvalid')">
                {{ 'sandbox.invalidEndDate' | translate }}
              </mat-error>

            </mat-form-field>
            <mat-form-field appearance="outline" class="datepicker">
              <mat-label>{{ 'sandbox.registration' | translate }}</mat-label>
              <mat-date-range-input [rangePicker]="pickerReg" required>
                <input matStartDate formControlName="startRegistration" placeholder="Start registration" required>
                <input matEndDate formControlName="endRegistration" placeholder="End registration" required>
              </mat-date-range-input>
              <mat-datepicker-toggle matSuffix [for]="pickerReg"></mat-datepicker-toggle>
              <mat-date-range-picker #pickerReg></mat-date-range-picker>

              <mat-error *ngIf="sandboxRegistrationForm.controls.startRegistration.hasError('matStartDateInvalid')">
                {{ 'sandbox.invalidStartDate' | translate }}
              </mat-error>
              <mat-error *ngIf="sandboxRegistrationForm.controls.endRegistration.hasError('matEndDateInvalid')">
                {{ 'sandbox.invalidEndDate' | translate }}
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="number-candidates">
              <mat-label>{{ 'sandbox.candidatesNumber' | translate }}</mat-label>
              <input type="number" min="0" matInput formControlName="maxCandidates">
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>{{ 'request.skills' | translate }}</mat-label>
              <mat-select formControlName="stackTechnologyIds" multiple>
                <mat-option *ngFor="let skill of stackTechnologies" [value]="skill.id">{{skill.name}}</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>{{ 'request.language' | translate }}</mat-label>
              <mat-select formControlName="languageIds" multiple>
                <mat-option *ngFor="let lang of languages" [value]="lang.id">{{lang.name}}</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>{{ 'select.status' | translate }}</mat-label>
              <mat-select formControlName="status">
                <mat-option value="Draft">Draft</mat-option>
                <mat-option value="Active">Active</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <mat-form-field class="description" appearance="outline">
            <mat-label>{{ 'sandbox.description' | translate }}</mat-label>
            <textarea [cdkTextareaAutosize] class="textarea" matInput formControlName="description"></textarea>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>{{ 'sandbox.listRecruiters' | translate }}</mat-label>
            <mat-select formControlName="recruiterIds" multiple>
              <mat-option *ngFor="let recruiter of listRecruiters" [value]="recruiter.id">{{recruiter.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>{{ 'sandbox.listInterviewers' | translate }}</mat-label>
            <mat-select formControlName="interviewersIds" multiple>
              <mat-option *ngFor="let interviewer of listInterviewers" [value]="interviewer.id">{{interviewer.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>{{ 'sandbox.listMentors' | translate }}</mat-label>
            <mat-select formControlName="mentorIds" multiple>
              <mat-option *ngFor="let mentor of listMentors" [value]="mentor.id">{{mentor.name}}</mat-option>
            </mat-select>
          </mat-form-field>

          <div class="btn-wrapper">
            <button class="btn filled-btn position" type="submit">Create</button>
          </div>
        </form>
      </div>
    </mat-tab>

    <!-- Edit sandbox form -->

    <mat-tab label="Edit Sandbox">
      <div>
        
          <h2>{{ 'sandbox.editSandbox' | translate }}</h2>
          
            <mat-form-field appearance="outline" class="select">
              <mat-label>{{ 'sandbox.name' | translate }}</mat-label>
              <mat-select #sandboxSelect (selectionChange)="inputChange(sandboxSelect.value)">
                <mat-option *ngFor="let sandbox of sandboxes" [value]="sandbox.name">
                  {{sandbox.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <form [style.display]="sandboxChosen.id ? 'flex' : 'none'" class="sandbox_wrapper" [formGroup]="sandboxEditForm" (ngSubmit)="edit()">
            <div class="sandbox_container">
            <mat-form-field appearance="outline">
              <mat-label>{{ 'sandbox.sandboxName' | translate }}</mat-label>
              <input formControlName="name" [(ngModel)]="sandboxChosen.name" matInput>
            </mat-form-field>

            <mat-form-field appearance="outline" class="datepicker">
              <mat-label>{{ 'sandbox.period' | translate }}</mat-label>
              <mat-date-range-input [rangePicker]="pickerEdit" required>
                <input matStartDate formControlName="startDate" placeholder="Start date" [(ngModel)]="sandboxChosen.startDate">
                <input matEndDate formControlName="endDate" placeholder="End date" [(ngModel)]="sandboxChosen.endDate">
              </mat-date-range-input>
              <mat-datepicker-toggle matSuffix [for]="pickerEdit"></mat-datepicker-toggle>
              <mat-date-range-picker #pickerEdit></mat-date-range-picker>

              <mat-error *ngIf="sandboxEditForm.controls.startDate.hasError('matStartDateInvalid')">
                {{ 'sandbox.invalidStartDate' | translate }}
              </mat-error>
              <mat-error *ngIf="sandboxEditForm.controls.endDate.hasError('matEndDateInvalid')">
                {{ 'sandbox.invalidEndDate' | translate }}
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="datepicker">
              <mat-label>{{ 'sandbox.registration' | translate }}</mat-label>
              <mat-date-range-input [rangePicker]="pickerRegEdit">
                <input matStartDate formControlName="startRegistration" placeholder="Start registration" [(ngModel)]="sandboxChosen.startRegistration">
                <input matEndDate formControlName="endRegistration" placeholder="End registration" [(ngModel)]="sandboxChosen.endRegistration">
              </mat-date-range-input>
              <mat-datepicker-toggle matSuffix [for]="pickerRegEdit"></mat-datepicker-toggle>
              <mat-date-range-picker #pickerRegEdit></mat-date-range-picker>

              <mat-error *ngIf="sandboxEditForm.controls.startRegistration.hasError('matStartDateInvalid')">
                {{ 'sandbox.invalidStartDate' | translate }}
              </mat-error>
              <mat-error *ngIf="sandboxEditForm.controls.endRegistration.hasError('matEndDateInvalid')">
                {{ 'sandbox.invalidEndDate' | translate }}
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="number-candidates">
              <mat-label>{{ 'sandbox.candidatesNumber' | translate }}</mat-label>
              <input type="number" min="0" matInput formControlName="maxCandidates" [(ngModel)]="sandboxChosen.maxCandidates">
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>{{ 'request.skills' | translate }}</mat-label>
              <mat-select formControlName="stackTechnologyIds" multiple [(ngModel)]="arrTech" [compareWith]="comparer">
                <mat-option *ngFor="let skill of stackTechnologies" [value]="skill.id">{{skill.name}}</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>{{ 'select.status' | translate }}</mat-label>
              <mat-select formControlName="status" [(ngModel)]="sandboxChosen.status">
                <mat-option value="Draft">Draft</mat-option>
                <!-- Waiting for end point of sandbox statuses -->
                <mat-option *ngIf="sandstat === 'Draft'" value="Active">Active</mat-option>
                <mat-option *ngIf="sandstat === 'Inprogress'" value="Inprogress">Inprogress</mat-option>
                <mat-option *ngIf="sandstat === 'Archive'" value="Archive">Archive</mat-option>
                <mat-option *ngIf="sandstat === 'Application'" value="Application">Application</mat-option>
                <mat-option *ngIf="sandstat === 'Registration'" value="Registration">Registration</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>{{ 'request.language' | translate }}</mat-label>
              <mat-select formControlName="languageIds" multiple [(ngModel)]="arrLang" [compareWith]="comparer">
                <mat-option *ngFor="let lang of languages" [value]="lang.id">{{lang.name}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <mat-form-field class="description" appearance="outline">
            <mat-label>{{ 'sandbox.description' | translate }}</mat-label>
            <textarea [cdkTextareaAutosize] class="textarea" matInput formControlName="description"
            [(ngModel)]="sandboxChosen.description" required></textarea>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>{{ 'sandbox.listRecruiters' | translate }}</mat-label>
            <mat-select formControlName="recruiterIds" multiple [(ngModel)]="arrRecruiters" [compareWith]="comparer">
              <mat-option *ngFor="let recruiter of listRecruiters" [value]="recruiter.id">{{recruiter.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>{{ 'sandbox.listInterviewers' | translate }}</mat-label>
            <mat-select formControlName="interviewersIds" multiple [(ngModel)]="arrInterviewers" [compareWith]="comparer">
              <mat-option *ngFor="let interviewer of listInterviewers" [value]="interviewer.id">{{interviewer.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>{{ 'sandbox.listMentors' | translate }}</mat-label>
            <mat-select formControlName="mentorIds" multiple [(ngModel)]="arrMentors" [compareWith]="comparer">
              <mat-option *ngFor="let mentor of listMentors" [value]="mentor.id">{{mentor.name}}</mat-option>
            </mat-select>
          </mat-form-field>

          <div class="btn-wrapper">
            <button class="btn filled-btn position" type="submit">Save</button>
          </div>
        </form>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
