<form class="container page">
  <h2>{{ 'sandbox.createSandbox' | translate }}</h2>
  <div class="wrapper">
    <mat-form-field appearance="fill" class="select" >
      <mat-label>{{ 'sandbox.name' | translate }}</mat-label>
      <mat-select [formControl]="sandbox" required>
        <mat-option *ngFor="let sandbox of sandboxes" [value]="sandbox.name">
          {{sandbox.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" class="datepicker">
      <mat-label>{{ 'sandbox.period' | translate }}</mat-label>
      <mat-date-range-input [formGroup]="range" [rangePicker]="picker" required>
        <input matStartDate formControlName="start" placeholder="Start date" required>
        <input matEndDate formControlName="end" placeholder="End date" required>
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>

      <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">
        {{ 'sandbox.invalidStartDate' | translate }}
      </mat-error>
      <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">
        {{ 'sandbox.invalidEndDate' | translate }}
      </mat-error>

    </mat-form-field>

    <mat-form-field appearance="fill" class="number-candidates">
      <mat-label>{{ 'sandbox.candidatesNumber' | translate }}</mat-label>
      <input type="number" min="0" matInput>
    </mat-form-field>

  </div>

  <mat-form-field class="description" appearance="fill" >
    <mat-label>{{ 'sandbox.description' | translate }}</mat-label>
    <textarea [cdkTextareaAutosize] class="textarea"matInput [formControl]="description" required></textarea>
  </mat-form-field>

  <mat-form-field appearance="fill" class="employee">
    <mat-label>{{ 'roles.recruiters' | translate }}</mat-label>
    <mat-select multiple [formControl]="recruiters" required>
      <mat-option *ngFor="let recruiter of listRecruiters" [value]="recruiter.lastName">
        {{recruiter.firstName + ' ' + recruiter.lastName}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill" class="employee">
    <mat-label>{{ 'roles.interviewers' | translate }}</mat-label>
    <mat-select multiple [formControl]="interviewers" required>
      <mat-option *ngFor="let interviewer of listInterviewers" [value]="interviewer.lastName">
        {{interviewer.firstName + ' ' + interviewer.lastName  + ' ' + interviewer.tech}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill" class="employee">
    <mat-label>{{ 'roles.mentors' | translate }}</mat-label>
    <mat-select multiple [formControl]="mentors" required>
      <mat-option *ngFor="let mentor of listMentors" [value]="mentor.lastName">
        {{mentor.firstName + ' ' + mentor.lastName + ' ' + mentor.tech}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <div class="btn-wrapper">
    <button class="btn filled-btn position" type="submit" (click)="create()">Create</button>
  </div>
</form>
