@import '../../shared/constants/colors.scss';

.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  ::ng-deep .mat-spinner circle, .mat-spinner circle {
    stroke: $blueColor;
  }
}
.auth {
  height: 30vh;
}

