<form class="request-form" [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
  <h2>{{ 'request.header' | translate }}</h2>
  <input style="display: none;" formControlName="sandboxId" />

  <div class="personal three-column">
    <mat-form-field appearance="outline">
      <mat-label>{{ 'request.firstName' | translate }}</mat-label>
      <input formControlName="name" matInput placeholder="Placeholder" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>{{ 'request.secondName' | translate }}</mat-label>
      <input formControlName="surname" matInput placeholder="Placeholder" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>{{ 'request.englishLevel' | translate }}</mat-label>
      <mat-select formControlName="englishLevelId">
        <mat-option *ngFor="let level of levelsValues" [value]="level.id">{{level.name}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="personal three-column">
    <mat-form-field appearance="outline">
      <mat-label>{{ 'request.telephone' | translate }}</mat-label>
      <input formControlName="phoneNumber" matInput placeholder="Placeholder" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>{{ 'request.email' | translate }}</mat-label>
      <input formControlName="email" matInput placeholder="Placeholder" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>{{ 'request.skype' | translate }}</mat-label>
      <input formControlName="skype" matInput placeholder="Placeholder" />
    </mat-form-field>
  </div>

  <div class="motivation">
    <mat-form-field appearance="outline">
      <mat-label>{{ 'request.motivation' | translate }}</mat-label>
      <textarea formControlName="motivation" [cdkTextareaAutosize] class="motivation_textarea" matInput></textarea>
    </mat-form-field>
  </div>

  <div class="three-column">
    <div class="radio">
      <label id="Availability">{{ 'request.availability' | translate }}</label>
      <mat-radio-group formControlName="availabillityTypeId" aria-labelledby="Availability">
        <mat-radio-button *ngFor="let hours of availability" [value]="hours.id" class="radio-button">{{hours.name}}
        </mat-radio-button>
      </mat-radio-group>
    </div>

    <div class="lang">
      <mat-form-field appearance="outline">
        <mat-label>{{ 'request.language' | translate }}</mat-label>
        <mat-select formControlName="sandboxPreferredLanguageId">
          <mat-option *ngFor="let lang of sandboxChosen.languages" [value]="lang !== null ? lang.id : ''">{{lang !==
            null ?
            lang.name : ''}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>{{ 'request.location' | translate }}</mat-label>
        <mat-select formControlName="location">
          <mat-option *ngFor="let loc of location" [value]="loc !==
          null ?
          loc.name : ''">{{loc !==
            null ?
            loc.name : ''}}</mat-option>
        </mat-select>
      </mat-form-field>

      <!-- <mat-form-field appearance="outline">
        <mat-label>{{ 'request.location' | translate }}</mat-label>
        <input type="text" placeholder="Pick one" aria-label="Number" matInput formControlName="location" [formControl]="myControl"
          [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
            {{option}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field> -->
    </div>


    <div class="job">
      <mat-form-field appearance="outline">
        <mat-label>{{ 'request.skills' | translate }}</mat-label>
        <mat-select formControlName="primaryTechnologyId">
          <mat-option *ngFor="let skill of sandboxChosen.stackTechnologies" [value]="skill !== null ? skill.id : ''">
            {{skill
            !== null ? skill.name : ''}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>{{ 'request.job' | translate }}</mat-label>
        <input formControlName="currentJob" matInput placeholder="Placeholder" />
      </mat-form-field>
    </div>
  </div>

  <div class="skills">
    <mat-form-field appearance="outline">
      <mat-label>{{ 'request.certificates' | translate }}</mat-label>
      <textarea formControlName="professionaCertificates" [cdkTextareaAutosize] class="skills-textarea"
        matInput></textarea>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>{{ 'request.addSkills' | translate }}</mat-label>
      <textarea formControlName="additionalSkills" [cdkTextareaAutosize] class="skills-textarea" matInput></textarea>
    </mat-form-field>
  </div>

  <div class="time-contact">
    <mat-form-field appearance="outline">
      <mat-label>{{ 'request.timeContact' | translate }}</mat-label>
      <input formControlName="timeContact" matInput placeholder="Placeholder" />
    </mat-form-field>
  </div>

  <div class="checkboxes">
    <mat-checkbox formControlName="isJoinToExadel">{{ 'request.joinExadel' | translate }}</mat-checkbox>
    <mat-checkbox formControlName="isAgreement" required>{{
      'request.agreement' | translate
      }}</mat-checkbox>
  </div>

  <div class="button">
    <button type="submit" class="btn filled-btn">{{ 'request.sendButton' | translate }}</button>
  </div>
</form>