<form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
  <h2>{{ 'request.header' | translate }}</h2>
  <div class="sandbox">
    <mat-form-field appearance="outline">
      <mat-label>Sandbox</mat-label>
      <input formControlName="sandbox" matInput placeholder="Sandbox" readonly />
    </mat-form-field>
  </div>

  <div class="personal three-column">
    <mat-form-field appearance="outline">
      <mat-label>{{ 'request.firstName' | translate }}</mat-label>
      <input formControlName="firstName" matInput placeholder="Placeholder" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>{{ 'request.secondName' | translate }}</mat-label>
      <input formControlName="secondName" matInput placeholder="Placeholder" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>{{ 'request.englishLevel' | translate }}</mat-label>
      <mat-select formControlName="englishLevel">
        <mat-option value="A1">Beginner (A1)</mat-option>
        <mat-option value="A2">Elementary (A2)</mat-option>
        <mat-option value="B1">Intermediate (B1)</mat-option>
        <mat-option value="B2">Upper Intermediate (B2)</mat-option>
        <mat-option value="C1">Advanced (C1)</mat-option>
        <mat-option value="C2">Proficiency (C2)</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="personal three-column">
    <mat-form-field appearance="outline">
      <mat-label>{{ 'request.telephone' | translate }}</mat-label>
      <input formControlName="telephone" matInput placeholder="Placeholder" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>{{ 'request.email' | translate }}</mat-label>
      <input formControlName="email" matInput placeholder="Placeholder" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>{{ 'request.skype' | translate }}</mat-label>
      <input formControlName="skype" matInput placeholder="Placeholder" />
    </mat-form-field>
  </div>

  <div class="motivation">
    <mat-form-field appearance="outline">
      <mat-label>{{ 'request.motivation' | translate }}</mat-label>
      <textarea
        formControlName="motivation"
        [cdkTextareaAutosize]
        class="motivation_textarea"
        matInput
      ></textarea>
    </mat-form-field>
  </div>

  <div class="three-column">
    <div class="radio">
      <label id="Availability">{{ 'request.availability' | translate }}</label>
      <mat-radio-group formControlName="availability" aria-labelledby="Availability">
        <mat-radio-button [value]="'Less than 4 hours'" class="radio-button">{{
          'request.available1' | translate
        }}</mat-radio-button>
        <mat-radio-button [value]="'4-6 hours'" class="radio-button">{{
          'request.available2' | translate
        }}</mat-radio-button>
        <mat-radio-button [value]="'6-infinity hours'" class="radio-button">{{
          'request.available3' | translate
        }}</mat-radio-button>
      </mat-radio-group>
    </div>

    <div class="lang">
      <mat-form-field appearance="outline">
        <mat-label>{{ 'request.language' | translate }}</mat-label>
        <mat-select formControlName="language">
          <mat-option value="English">English</mat-option>
          <mat-option value="Русский">Русский</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>{{ 'request.location' | translate }}</mat-label>
        <input formControlName="location" matInput placeholder="" />
      </mat-form-field>
    </div>
    

    <div class="job">
      <mat-form-field appearance="outline">
        <mat-label>{{ 'request.skills' | translate }}</mat-label>
        <mat-select formControlName="skills">
          <mat-option value="Frontend">Frontend</mat-option>
          <mat-option value="Backend">Backend</mat-option>
          <mat-option value="BA">BA</mat-option>
          <mat-option value="Ui/Ux">Ui/Ux</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>{{ 'request.job' | translate }}</mat-label>
        <input formControlName="job" matInput placeholder="Placeholder" />
      </mat-form-field>
    </div>
  </div>

  <div class="skills">
    <mat-form-field appearance="outline">
      <mat-label>{{ 'request.certificates' | translate }}</mat-label>
      <textarea
        formControlName="certificates"
        [cdkTextareaAutosize]
        class="skills_textarea"
        matInput
      ></textarea>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>{{ 'request.addSkills' | translate }}</mat-label>
      <textarea
        formControlName="addSkills"
        [cdkTextareaAutosize]
        class="skills_textarea"
        matInput
      ></textarea>
    </mat-form-field>
  </div>

  <div class="time_contact">
    <mat-form-field appearance="outline">
      <mat-label>{{ 'request.timeContact' | translate }}</mat-label>
      <input formControlName="timeContact" matInput placeholder="Placeholder" />
    </mat-form-field>
  </div>

  <div class="checkboxes">
    <mat-checkbox formControlName="joinExadel">{{ 'request.joinExadel' | translate }}</mat-checkbox>
    <mat-checkbox formControlName="agreement" required>{{
      'request.agreement' | translate
    }}</mat-checkbox>
  </div>

  <div class="button">
    <button type="submit" class="btn filled-btn">{{ 'request.sendButton' | translate }}</button>
  </div>
</form>
