.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    margin-top: 10px;
}

.content-wrapper {
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.cirlce {
    display: inline-block;
    content: "";
    width: 5px;
    height: 5px;
    background-color: black;
    border-radius: 50%;
}

.status-wrapper {
    & > span {
        margin-left: 3px;
    }
}

.example-margin {
    margin: 0 12px;
    position: relative;
  bottom: 5px;
  }