@import '~ngx-toastr/toastr';
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

// Button start
$blue-color: #3794C7;
$white-color: #ffff;
$shadow-color: #4b45485e;

  .btn {
    width: 80px;
    height: 30px;
    margin: 0 15px;
    border-radius: 10px;
    border: none;
    font-size: 14px;
    box-shadow: 2px 2px 4px 0 $shadow-color;
    transition-duration: 0.2s;
    &:hover {
      box-shadow: 4px 4px 4px 0 shadow-color;
      transform: translateY(-1px);
      cursor: pointer;
    }
  }
  .unfilled-btn {
    background-color: $white-color;
    border: 1px solid #b8bcc5;
    color: $blue-color;
  }

  .filled-btn {
    background-color: $blue-color;
    color: $white-color;
  }

// Button end
