@import '~ngx-toastr/toastr';
@import '../src/app/shared/constants/colors.scss';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.page {
  padding-bottom: 50px;
}

// Button start
  .btn {
    width: 80px;
    height: 30px;
    margin: 0 15px;
    border-radius: 10px;
    border: none;
    font-size: 14px;
    box-shadow: 2px 2px 4px 0 $shadow-color;
    transition-duration: 0.2s;
    &:hover {
      box-shadow: 4px 4px 4px 0 $shadow-color;
      transform: translateY(-1px);
      cursor: pointer;
    }
  }
  .unfilled-btn {
    background-color: $noColor;
    border: 1px solid #b8bcc5;
    color: $blueColor;
  }

  .filled-btn {
    background-color: $blueColor;
    color: $noColor;
  }

// Button end