<app-modal-window [title]="title">
  <div class="card-popup_container">
    <div class="section">
      <div class="two-column">
        <mat-card class="candidate-name">{{ user.name }}</mat-card>
        <mat-form-field class="candidate-status" appearance="fill">
          <mat-label>Status</mat-label>
          <mat-select>
            <mat-option *ngFor="let stat of status" [value]="stat.value">
              {{ stat.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <mat-card class="candidate-skills">Candidate skills</mat-card>
      <div class="raiting two-column">
        <mat-card>Raiting 1</mat-card>
        <mat-card>Raiting 2</mat-card>
        <mat-card>Raiting 3</mat-card>
        <mat-card>Raiting 4</mat-card>
        <mat-card>Raiting 5</mat-card>
        <mat-card>Raiting 6</mat-card>
        <mat-card>Raiting 7</mat-card>
        <mat-card>Raiting 8</mat-card>
      </div>
    </div>
    <div class="section">
      <mat-button-toggle-group class="radio-buttons" #group="matButtonToggleGroup" name="workerStatus"
        aria-label="Worker Status">
        <mat-button-toggle value="Recruiter" checked>Recruiter</mat-button-toggle>
        <mat-button-toggle value="Interviewer">Interviewer</mat-button-toggle>
        <mat-button-toggle value="Mentor">Mentor</mat-button-toggle>
      </mat-button-toggle-group>
      <mat-card class="user-name">{{ group.value }} Name</mat-card>

      <mat-form-field *ngIf="group.value === 'Recruiter'" class="textarea_container" appearance="fill">
        <mat-label>{{ group.value }} feedback</mat-label>
        <textarea [cdkTextareaAutosize] class="textarea" matInput placeholder="Place your review here..."></textarea>
      </mat-form-field>

      <mat-form-field *ngIf="group.value === 'Interviewer'" class="textarea_container" appearance="fill">
        <mat-label>{{ group.value }} feedback</mat-label>
        <textarea [cdkTextareaAutosize] class="textarea" matInput placeholder="Place your review here..."></textarea>
      </mat-form-field>

      <mat-form-field *ngIf="group.value === 'Mentor'" class="textarea_container" appearance="fill">
        <mat-label>{{ group.value }} feedback</mat-label>
        <textarea [cdkTextareaAutosize] class="textarea" matInput placeholder="Place your review here..."></textarea>
      </mat-form-field>

      <div class="two-column buttons">
        <button class="btn unfilled-btn" (click)="cancel()">close</button>
        <button class="btn filled-btn">save</button>
      </div>
    </div>
  </div>
</app-modal-window>