<app-modal-window [title]="title">
  <div class="card-popup_container">
    <div class="section">
      <div class="two-column">
        <mat-card class="candidate-name">{{ user.name }}</mat-card>
        <mat-form-field class="candidate-status" appearance="fill">
          <mat-label>{{ 'candidate.status' | translate }}</mat-label>
          <mat-select>
            <mat-option *ngFor="let stat of status" [value]="stat.value">
              {{ stat.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <mat-card class="candidate-skills">{{CANDIDATES_INFO.techSkills}}</mat-card>
      <mat-card class="candidate-skills">additional skills</mat-card>
      <div class="raiting two-column">
        <mat-card>{{CANDIDATES_INFO.email}}</mat-card>
        <mat-card>{{CANDIDATES_INFO.skype}}</mat-card>
        <mat-card>{{CANDIDATES_INFO.location}}</mat-card>
        <mat-card>sertificates</mat-card>
        <mat-card>{{CANDIDATES_INFO.phone}}</mat-card>
        <mat-card>{{CANDIDATES_INFO.languages}}</mat-card>
        <mat-card>current job</mat-card>
        <mat-card>time to contact</mat-card>
      </div>
    </div>
    <div class="section">
      <mat-card class="user-name">{{ USERS_INFO.name }}{{ 'feedback' | translate }}</mat-card>

      <div class="custom-slider" *ngIf="USERS_INFO.role === 'admin'">
        <div class="custom-slider-slide">
          <mat-slider
            thumbLabel
            tickInterval="1"
            step="1"
            min="0"
            max="100"
            aria-label="units"
            (change)="onChangeRange($event)">
          </mat-slider>
        </div>
        <div class="custom-slider-info">
          <span>{{ sliderValue }}</span>
        </div>
      </div>

      <mat-form-field class="textarea_container" appearance="fill"  *ngIf="USERS_INFO.role === 'recruiter'">
        <mat-label>{{ USERS_INFO.name }} feedback</mat-label>
        <textarea [cdkTextareaAutosize] class="textarea" matInput placeholder="Place your review here..."></textarea>
      </mat-form-field>

      <mat-form-field  class="textarea_container" appearance="fill"  *ngIf="USERS_INFO.role === 'interviewer'">
        <mat-label>{{ USERS_INFO.name }} feedback</mat-label>
        <textarea [cdkTextareaAutosize] class="textarea" matInput placeholder="Place your review here..."></textarea>
      </mat-form-field>

      <mat-form-field  class="textarea_container" appearance="fill"  *ngIf="USERS_INFO.role === 'mentor'">
        <mat-label>{{ USERS_INFO.name }} feedback</mat-label>
        <textarea [cdkTextareaAutosize] class="textarea" matInput placeholder="Place your review here..."></textarea>
      </mat-form-field>

      <mat-form-field  class="textarea_container" appearance="fill"  *ngIf="USERS_INFO.role === 'admin'">
        <mat-label>{{ USERS_INFO.name }} feedback</mat-label>
        <textarea [cdkTextareaAutosize] class="textarea" matInput placeholder="Place your review here..."></textarea>
      </mat-form-field>


      <div class="two-column buttons">
        <button class="btn unfilled-btn" (click)="cancel()">{{ 'cancel' | translate }}</button>
        <button class="btn filled-btn">{{ 'save' | translate }}</button>
      </div>
    </div>
  </div>
</app-modal-window>
