.example-full-width {
    width: 100%;
}
.textarea {
    height: 400px;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 10px 0;
    justify-content: space-between;
}
.two-column {
    display: flex;
}

.section {
    width: 49%;
}

*:not(.radio-buttons > *) {
    margin-bottom: 10px;
}



.two-column {
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    &  > * {
        flex-basis: 42%;
    }
}