@import '../../../shared/constants/colors.scss';

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.filter_container {
  display: flex;
  align-items: baseline;
  margin-bottom: 50px;
}

.multiselect {
  margin-right: 20px;
}

th.mat-header-cell,
td.mat-cell,
td.mat-footer-cell {
  padding: 5px 15px;
}

.mat-row .mat-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-row:hover .mat-cell {
  background: whitesmoke;
}

.mat-column-select,
.mat-column-id {
  width: 7%;
}

.btn-create-sandbox {
  width: 133px;
  height: 42px;
}

.wrapper-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0 0 0;
  padding: 0 0 15px 0;
}

.filter {
  margin: 0 0 0 23px;
}

table {
  border-collapse: collapse;
}

tr {
  border-bottom: 2px solid #adabad;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: $blueColor;
}

::ng-deep .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background, .mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: $blueColor;
}

.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  ::ng-deep .mat-spinner circle, .mat-spinner circle {
    stroke: $blueColor;
  }
}
